
/*-----------------------Title-----------------------*/

h1{
    position:relative;
    padding-bottom:10px;
    font-weight: bold;
}

h1:after {
    content: "";
    position: absolute;
    left:calc(50% - 50px);
    width: 100px;
    border: 1px solid rgb(27, 143, 189);
    bottom:0;
}

/*-----------------------Sub-----------------------*/
h2{
    font-size:18px;
    color:rgb(167, 167, 167);
}

h3{
    color:rgb(80,80,80);
    font-size:25px;
    font-weight: 100;
}

p{
    color:rgb(80,80,80);
    font-size:16px;
}

/*-----------------------Card-service-----------------------*/
.service{
    border:1px solid rgba(0, 0, 0, 0.1);
    height: 350px;
    padding:30px;
}

.service:hover{
    color:white;
    background-color: rgba(158, 158, 158, 0.25);
}


.service:hover .service-info {
    opacity:1;
    transform: rotateX(0deg);
}

/*-----------------------Icons-----------------------*/
.icon {
    display:flex;
    justify-content: center;
}
.icon i{
    font-size:40px;
    color:rgb(27, 143, 189);
}

/*-----------------------Service-Info-----------------------*/
.service-info{
    opacity:0;
    transform:rotateX(90deg);
    transition:ease 0.7s all;
}

@media (max-width: 720px) {

    .service-info{
        opacity:1;
        transform:rotateX(0deg);
    }
}