<h1 class="text-center text-dark">Services</h1>

<div class="row mt-5">
    <div class="col-md-4 card-service">
        <div class="icon">
            <i class="fas fa-tv text-info"></i>
        </div>
        <h2 class="text-center my-3">Diseño web</h2>
    </div>

    <div class="col-md-4 card-service">
        <div class="icon">
            <i class="fab fa-java text-info"></i>
        </div>
        <h2 class="text-center  my-3">Desarrollo frontend</h2>
    </div>

    <div class="col-md-4 card-service">
        <div class="icon">
            <i class="fab fa-java text-info"></i>
        </div>
        <h2 class="text-center  my-3">Java</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro ipsam error mollitia, deserunt vero
            recusandae voluptate ullam qui aut dolor quae dolorem eligendi fugiat harum expedita inventore quidem
            consectetur! Voluptatibus!</p>
    </div>
    
    <div class="col-md-4 card-service">
        <div class="icon">
            <i class="fab fa-java text-info"></i>
        </div>
        <h2 class="text-center  my-3">Java</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro ipsam error mollitia, deserunt vero
            recusandae voluptate ullam qui aut dolor quae dolorem eligendi fugiat harum expedita inventore quidem
            consectetur! Voluptatibus!</p>
    </div>
</div>