<h1 class="text-center text-dark mt-5" data-aos="zoom-in">Services</h1>
<h2 class="text-center" data-aos="zoom-in">Aqui podras ver en que hago y en que me especializo.</h2>

<div class="row mt-5">

    <div class="col-sm-6 col-md-4 col-lg-3 service" data-aos="fade-up">
        <div class="icon mb-3">
            <i class="fas fa-paint-roller text-center"></i>
        </div>

        <h3 class="text-center mb-3">Diseño web</h3>

        <p class=" text-center mb-3">Atractivo y totalmente personalizable</p>
        <p class="service-info">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, mollitia maxime. Sunt
            perspiciatis laudantium
            sit enim accusantium sint voluptates dolorem veniam quam quas cum corrupti rem, similique praesentium nulla
            voluptatum?
        </p>

    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 service" data-aos="fade-up">

        <div class="icon mb-3">
            <i class="fab fa-python"></i>
        </div>

        <h3 class="text-center mb-3">Programación en Python</h3>

        <p class=" text-center mb-3">Atractivo y totalmente personalizable</p>
        <p class="service-info">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, mollitia maxime. Sunt
            perspiciatis laudantium
            sit enim accusantium sint voluptates dolorem veniam quam quas cum corrupti rem, similique praesentium nulla
            voluptatum?
        </p>

    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 service" data-aos="fade-up">

        <div class="icon mb-3">
            <i class="fab fa-java"></i>
        </div>

        <h3 class="text-center mb-3">Programación en Java</h3>

        <p class=" text-center mb-3">Atractivo y totalmente personalizable</p>
        <p class="service-info">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, mollitia maxime. Sunt
            perspiciatis laudantium
            sit enim accusantium sint voluptates dolorem veniam quam quas cum corrupti rem, similique praesentium nulla
            voluptatum?
        </p>

    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 service" data-aos="fade-up">

        <div class="icon mb-3">
            <i class="fab fa-angular"></i>
        </div>

        <h3 class="text-center mb-3">Programación en Angular</h3>

        <p class="text-center mb-3 ">Atractivo y totalmente personalizable</p>
        <p class="service-info">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, mollitia maxime. Sunt
            perspiciatis laudantium
            sit enim accusantium sint voluptates dolorem veniam quam quas cum corrupti rem, similique praesentium nulla
            voluptatum?
        </p>

    </div>
</div>