
<div class="container my-5">
    <div class="about-me-sec" data-aos="fade-up">
        <h1 class="text-center text-dark">About me</h1>
    <h2 class="text-center text-dark mt-5">Diseño y desarrollo web frontend</h2>
    <p class ="text-center about-me">Bienvenidos a mi portfolio. Aquí es donde juego, investigo y practico con mis habilidades de
        desarrollo frontend y donde podrás saber algo más acerca de mi o de mis trabajos</p>
    </div>
    <div data-aos="fade-right">
        <app-skill></app-skill>
    </div>
    <app-services class = "my-5"></app-services>
    <app-contact></app-contact>
</div>